@font-face {
	font-family: 'AT Name Sans Variable';
	src: local('AT Name Sans Variable'), url('https://jesi-rgb-fonts.s3.eu-west-3.amazonaws.com/AT-NameSansVariable.ttf');
	font-weight: 100 1000;
}

@import "tailwindcss";

@plugin "daisyui" {
	themes: fantasy --default, night --prefersdark;
}


@theme {
	--font-sans: 'AT Name Sans Variable', sans-serif;

	--color-muted: color-mix(in srgb, var(--color-base-content), var(--color-base-100) 50%);
	--color-subtle: color-mix(in srgb, var(--color-base-content), var(--color-base-100) 70%);

	--color-primary-muted: color-mix(in srgb, var(--color-primary), var(--color-base-100) 90%);
	--color-primary-subtle: color-mix(in srgb, var(--color-primary), var(--color-base-100) 95%);

	--color-muted-bg: color-mix(in oklch, var(--color-base-100), var(--color-base-content) 3%);
	--color-subtle-bg: color-mix(in oklch, var(--color-base-100), var(--color-base-content) 1%);
}
